
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <img src="~/Media/Team/Cover1.png" class="img-responsive" />
</div>

<div  class="row" style="text-align:center;">
 <h3>Player Name </h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 col-xs-12">
            <!--Player Profile Picture-->
            <div class="row" style="margin-left:15%; margin-right:15%;">
                <img src="~/Media/Team/Cover1.png" class="img-responsive img-thumbnail " />
            </div>
            <!--Content Below Row-->
            <div class="row">

            </div>
        </div>
        <!--Profile Information of Player-->
        <div class="col-md-8 col-xs-12">
            <!--Section Row-->
            <div class="row">
                <div class="col-xs-12">
                    <!--Player Profile Section-->
                    <div class="col-xs-5">
                        <span><strong>Position</strong></span>
                    </div>
                    <!--Player Profile Section Details-->
                    <div class="col-xs-7">
                        <span><strong>Player Name</strong></span>
                    </div>
                </div>
            </div>
            <!--Section Row-->
            <div class="row">
                <div class="col-xs-12">
                    <!--Player Profile Section-->
                    <div class="col-xs-5">
                        <span><strong>Former Team</strong></span>
                    </div>
                    <!--Player Profile Section Details-->
                    <div class="col-xs-7">
                        <span><strong>Player Name</strong></span>
                    </div>
                </div>
            </div>
            <!--Section Row-->
            <div class="row">
                <div class="col-xs-12">
                    <!--Player Profile Section-->
                    <div class="col-xs-5">
                        <span><strong>Playing History</strong></span>
                    </div>
                    <!--Player Profile Section Details-->
                    <div class="col-xs-7">
                       <div class="row">
                           <span><strong>Player Name</strong></span>
                       </div>
                        <div class="row">
                            <span><strong>Player Name</strong></span>
                        </div>
                        <div class="row">
                            <span><strong>Player Name</strong></span>
                        </div>
                         
                    </div>
                </div>
            </div>
            <!--Section Row-->
            <div class="row">
                <div class="col-xs-12">
                    <!--Player Profile Section-->
                    <div class="col-xs-5">
                        <span><strong>Nationnal Team Apperances</strong></span>
                    </div>
                    <!--Player Profile Section Details-->
                    <div class="col-xs-7">
                        <span><strong>Player Name</strong></span>
                    </div>
                </div>
            </div>
            <!--Section Row-->
            <div class="row">
                <h4><strong>Season's Performance Statistics</strong></h4>
               <!--Sub section Row-->
                <hr />
                 <div class="row">

                    <div class="col-xs-12">
                        <!--Player Profile Section-->
                        <div class="col-xs-5">
                            <span><strong>Games</strong></span>
                        </div>
                        <!--Player Profile Section Details-->
                        <div class="col-xs-7">
                            <table class="table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                           Games
                                        </th>
                                        <th>
                                           Stat
                                        </th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Feutured</td>
                                        <td>10</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Started</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>OFF Bench</td>
                                        <td>10</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!--Sub section Row-->
                <hr />
                <div class="row">

                    <div class="col-xs-12">
                        <!--Player Profile Section-->
                        <div class="col-xs-5">
                            <span><strong>SCORE-Points</strong></span>
                        </div>
                        <!--Player Profile Section Details-->
                        <div class="col-xs-7">
                                                        <table class="table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            T
                                        </th>
                                        <th>
                                            P
                                        </th>
                                        <th>
                                            DG
                                        </th>
                                        <th>
                                            C
                                        </th>
                                        <th>
                                            TP
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            0
                                        </th>
                                        <th>
                                            0
                                        </th>
                                        <th>
                                           0
                                        </th>
                                        <th>
                                            0
                                        </th>
                                        <th>
                                            0
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                           <!--
                                 <p style="text-align:left;"><strong>
                                   T=TRY&nbsp;|&nbsp;P=PENALTY&nbsp;|&nbsp;DG=DROPGOAL&nbsp;|&nbsp;P=CONVERSION&nbsp;|&nbsp;TP=TOTAL POINTS&nbsp;|
                                </strong>
                                
                            </p>
                           -->
                           
                        </div>
                    </div>
                </div>
                <!--Sub section Row-->
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <!--Player Profile Section-->
                        <div class="col-xs-5">
                            <span><strong>Discipline</strong></span>
                        </div>
                        <!--Player Profile Section Details-->
                        <div class="col-xs-7">
                         
                            <table class="table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <td>
                                            <strong>TOTAL CARDS</strong>
                                        </td>
                                        <td style="background-color:yellow;">
                                            YELLOW
                                        </td>
                                        <td style="background-color:red;">
                                            RED
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            0
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td>
                                            0
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Section Row-->
        
        </div>
    </div>
</div>