
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
     <div class="col-md-8 col-xs-12">
         <!--Upcomming  Fixtures-->
         <div class="row container">
             <h4><u><strong>FIXTURES</strong></u></h4>
             <!--First Upcomming fixture-->
             <div class="row">
                 <div class="col-xs-12">
                     <div class="col-xs-2">

                         <!--Date-->
                         <h3><strong>30</strong></h3>

                         <!--Month-->
                         <p><b>NOV</b></p>

                     </div>
                     <div class="col-xs-10" style="text-align:center;">
                         <br />
                         <p>Category</p>
                    
                         <div class="container">
                             <div class="row">
                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                             </div>
                             <div class="row">
                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                             </div>
                         </div>


                     </div>
                 </div>
             </div>
<hr />
             <!--Second One-->
             <div class="row">
                 <div class="col-xs-12">
                     <div class="col-xs-2">

                         <!--Date-->
                         <h3><strong>30</strong></h3>

                         <!--Month-->
                         <p><b>NOV</b></p>

                     </div>
                     <div class="col-xs-10" style="text-align:center;">
                         <br />
                         <p>Category</p>

                         <div class="container">
                             <div class="row">
                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                             </div>
                             <div class="row">
                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                             </div>
                         </div>


                     </div>
                 </div>
             </div>
             <hr />
             <!--Third row-->
             <div class="row">
                 <div class="col-xs-12">
                     <div class="col-xs-2">

                         <!--Date-->
                         <h3><strong>30</strong></h3>

                         <!--Month-->
                         <p><b>NOV</b></p>

                     </div>
                     <div class="col-xs-10" style="text-align:center;">
                         <br />
                         <p>Category</p>

                         <div class="container">
                             <div class="row">
                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                             </div>
                             <div class="row">
                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                             </div>
                         </div>


                     </div>
                 </div>
             </div>
             <hr />
         </div>
     </div>
     <!--Aside area-->  
     <div class="col-xs-12 col-md-4">
         <h4>Table Standings</h4><br /><hr />
         <!--Adver Area-->
         <h4>Advert Areas</h4>
     </div>   

    </div>
</div>