
@{
    ViewBag.Title = "Heathens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <img src="~/Media/Team/Cover1.png" class="img-responsive" />
</div>
<!--Naaviation-->
<div class="row">
   <p>Navigation area</p>
</div>
<!--End of Tema Navviagation-->
<!--TEAM SPONSOR aND ABOIUT tEAM-->
<div class="row">
    <!--Running Item ACROSS THE pAGE aBOUT THE tEAM pERFORMANCE-->
    <div class="row">

    </div>
    <!--pAGE cONTENT-->
    <div class="col-md-12 col-xs-12">
        <div class="col-md-4 col-xs-12">
            <img src="" alt="main Tema Sponsor Logo" />
            <p><Strong>Main Sponsor: Hima Cement</Strong></p>
            <hr />
            <!--
                
            <div class="row">
                <div class="col-xs-12">
                    <u><p>Other Sponsors</p></u>
                    <div class="col-xs-3">
                        <img src="" alt="Othr Sponsor" />
                        <p><Strong>Sponsor Name</Strong></p>
                    </div>
                    <div class="col-xs-3">
                        <img src="" alt="Othr Sponsor" />
                        <p><Strong>Sponsor Name</Strong></p>
                    </div>
                    <div class="col-xs-3">
                        <img src="" alt="Othr Sponsor" />
                        <p><Strong>Sponsor Name</Strong></p>
                    </div>
                    <div class="col-xs-3">
                        <img src="" alt="Othr Sponsor" />
                        <p><Strong>Sponsor Name</Strong></p>
                    </div>
                </div>
            </div>
                -->
        </div>
        
        <!--Team Information Section-->
        <div div class="col-md-8 col-xs-12">
            <div class="row container">
                <!--team NAme-->
                <h3><span><strong>Hima Cement Heathens Rugby Club</strong></span></h3>
                <!--Brief About Team-->
                <h4><strong>History of Heathens</strong></h4>
                <p class="lead">
                    <strong>Blackheath Rugby Club </strong>, a rugby club from the London, UK was affiliated to Kampala Rugby Club. Which had Kampala Old Boys as a member. Due to many number of local and expatriates’ players a second side was formed in 1960.  </p>
                <p>
                    Blackheath’s second side wore black/red socks and was named Heathens. In recognition of the affiliation Kampala wore red/black socks which were the same as Blackheath’s second side and the second sided was named Heathens hence the birth of the team Heathens.
                </p>
                <button style="float:left;">
                  <a href="#"> Read More...</a>
                </button>
            </div>
        </div>


    </div>
</div>
<!--tECHNICAL TEAM-->
<div  class="row">
   <div class="col-md-12">
       <div class="row text-center">
           <p><span><strong>Techinical Team</strong></span></p>
       </div>
      
       <div class="row">
           <div class="col-md-12">
               <div class="col-md-3 col-xs-6">

                   <img src="~/Media/Team/SiteProfile.png" alt="Heathens Team Manager" class="img-responsive img-thumbnail" style="width:98%;" />
                   <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                       <p><strong><span class="playerNamePP">..</span></strong></p>
                       <p><span>Team Manager</span></p>
                   </div>
               </div>
               <div class="col-md-3 col-xs-6">

                   <img src="~/Media/Team/SiteProfile.png" alt="Heathens Team Manager" class="img-responsive img-thumbnail" style="width:98%;" />
                   <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                       <p><strong><span class="playerNamePP">..</span></strong></p>
                       <p><span>Head Coach</span></p>
                   </div>
               </div>
               <div class="col-md-3 col-xs-6">

                   <img src="~/Media/Team/SiteProfile.png" alt="Heathens Team Manager" class="img-responsive img-thumbnail" style="width:98%;" />
                   <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                       <p><strong><span class="playerNamePP">..</span></strong></p>
                       <p><span>Assistant Coach</span></p>
                   </div>
               </div>
               <div class="col-md-3 col-xs-6">

                   <img src="~/Media/Team/SiteProfile.png" alt="Heathens Team Manager" class="img-responsive img-thumbnail" style="width:98%;" />
                   <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                       <p><strong><span class="playerNamePP">..</span></strong></p>
                       <p><span>Trevor Muhanguzi</span></p>
                   </div>
               </div>

           </div>
       </div>

   </div>
</div>
<!--End Of Technical TeAM-->
<!--pARALLAX eFFECT-->
<div class="row">
    <p>Team Parallax Image</p>
</div>
<!--eND oF pARALLAX eFFECT-->

<!--lINKKS TO BOOTOM OF tEAM pAGE-->
<div class="row">
  <div class="col-md-12">
      <div class="col-md-5 col-xs-12">
          <!--Gallarey ciouracell-->
          <div  class="row">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                      <div class="item active">
                          <img src="~/Media/HomePage/c1.png" alt="Kyadondo sports Club " />

                          <div class="carousel-caption" style="background-color:white;  opacity:0.5; width:100%;">
                              <span style="color:black; "> <strong> Another Image</strong></span>
                          </div>
                      </div>
                      <div class="item">
                          <img src="~/Media/HomePage/c2.png" alt="Kyadondo sports Club " />
                          <div class="carousel-caption" style="background-color:white;  opacity:0.5; width:100%;">
                              <span style="color:black; "> <strong> Another Image</strong></span>
                          </div>
                      </div>
                      <div class="item">
                          <img src="~/Media/HomePage/c3.png" alt="Kyadondo sports Club " />
                          <div class="carousel-caption" style="background-color:white;  opacity:0.5; width:100%;">
                             <span style="color:black; "> <strong> Another Image</strong></span>
                          </div>
                      </div>
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>

                  </a>


              </div>
          </div>  
   <!--Some Thing Else-->
          <div class="row container">
            <div class="row" style="text-align:center;">
                <br />

                <p><strong>
                       2018 - 2019 NILE SPECIAL PREMIERSHIP RUGBY UNION LEAGUE - TABLE STANDING
                    </strong> 
                </p>
            </div>
                
          <table class="table-bordered table-condensed">
              <thead>
                  <tr style="text-align:center; color:white; background-color:#1F618D;">
                      <th>
                        No.
                      </th>
                       <th>
                          TEAMS
                      </th>
                      <th>
                         P
                      </th>
                      <th>
                          W
                      </th>
                      <th>
                          D
                      </th>
                      <th>
                          L
                      </th>
                      <th>
                          PF
                      </th>
                      <th>
                          PA
                      </th>
                      <th>
                          PD
                      </th>
                      <th>
                          BP
                      </th>
                      <th>
                          BP L7
                      </th>
                      <th>
                          BP T
                      </th>
                      <th>
                          PTS
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <!--Row in the table-->
                  <tr style="text-align:center; color:white; background-color:#27AE60;">
                      <td>1</td>
                      <td> 
                          Hima Cement Heathens
                      </td>
                      <td>18</td>
                      <td>17</td>
                      <td>0</td>
                      <td>1</td>
                      <td>565</td>
                      <td>155</td>
                      <td>410</td>
                      <td>11</td>
                      <td>1</td>
                      <td>12</td>
                      <td><strong>80</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>2</td>
                      <td>
                          Betway Kobs 
                      </td>
                      <td>18</td>
                      <td>16</td>
                      <td>0</td>
                      <td>2</td>
                      <td>669</td>
                      <td>187</td>
                      <td>482</td>
                      <td>12</td>
                      <td>1</td>
                      <td>13</td>
                      <td><strong>77</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>3</td>
                      <td>
                          Black Pirates 
                      </td>
                      <td>18</td>
                      <td>15</td>
                      <td>0</td>
                      <td>3</td>
                      <td>719</td>
                      <td>154</td>
                      <td>565</td>
                      <td>12</td>
                      <td>1</td>
                      <td>13</td>
                      <td><strong>73</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>4</td>
                      <td>
                          Dusupay Warriors
                      </td>
                      <td>18</td>
                      <td>10</td>
                      <td>0</td>
                      <td>8</td>
                      <td>353</td>
                      <td>357</td>
                      <td>-4</td>
                      <td>5</td>
                      <td>3</td>
                      <td>8</td>
                      <td><strong>48</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>5</td>
                      <td>
                          Toyota Buffaloes	
                      </td>
                      <td>18</td>
                      <td>9</td>
                      <td>0</td>
                      <td>9</td>
                      <td>346</td>
                      <td>388</td>
                      <td>-42</td>
                      <td>3</td>
                      <td>2</td>
                      <td>5</td>
                      <td><strong>41</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>6</td>
                      <td>
                          Plascon Mongers
                      </td>
                      <td>18</td>
                      <td>7</td>
                      <td>0</td>
                      <td>11</td>
                      <td>353</td>
                      <td>366</td>
                      <td>-13</td>
                      <td>4</td>
                      <td>3</td>
                      <td>7</td>
                      <td><strong>35</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>7</td>
                      <td>
                          Jinja Hippos	
                      </td>
                      <td>18</td>
                      <td>7</td>
                      <td>0</td>
                      <td>11</td>
                      <td>286</td>
                      <td>512</td>
                      <td>-226</td>
                      <td>2</td>
                      <td>3</td>
                      <td>5</td>
                      <td><strong>33</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>8</td>
                      <td>
                          Shell Rimula Rhino	
                      </td>
                      <td>18</td>
                      <td>6</td>
                      <td>0</td>
                      <td>12</td>
                      <td>271</td>
                      <td>368</td>
                      <td>-97</td>
                      <td>2</td>
                      <td>2</td>
                      <td>2</td>
                      <td><strong>28</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>9</td>
                      <td>
                          Rams	
                      </td>
                      <td>18</td>
                      <td>2</td>
                      <td>0</td>
                      <td>16</td>
                      <td>191</td>
                      <td>553</td>
                      <td>-362</td>
                      <td>1</td>
                      <td>3</td>
                      <td>4</td>
                      <td><strong>12</strong></td>
                  </tr>
                  <!--Row in the table-->
                  <tr style="text-align:center">
                      <td>10</td>
                      <td>
                         Barbarian Walukuba
                      </td>
                      <td>18</td>
                      <td>1</td>
                      <td>0</td>
                      <td>17</td>
                      <td>153</td>
                      <td>866</td>
                      <td>713</td>
                      <td>0</td>
                      <td>2</td>
                      <td>2</td>
                      <td><strong>6</strong></td>
                  </tr>
              </tbody>
          </table>
          </div>


       </div>
      <div class="col-md-4 col-xs-12">
         <div class="row" style="width:98%;padding-left:10px;">
          
             <div class="row container">
                 <div class="row col-xs-12">
                     <ul class="nav nav-tabs nav-tabs-justified" style="width:98%;padding-left:15px;">
                         <li><a data-toggle="tab" href="#FIXTURES">FIXTURES</a></li>
                         <li class="active"><a data-toggle="tab" href="#RESULTS">RESULTS</a></li>
                         <li><a data-toggle="tab" href="#POINTS">POINTS</a></li>
                     </ul>
                     <div class="tab-content container">
                         <!--Upcomming  Fixtures-->
                         <!--fixture content-->
                         <div id="FIXTURES" class="tab-pane fade"> 
                             <!--<div style="text-align:center; ">
                                 <h4><u><strong>FIXTURES</strong></u></h4>
                             </div>-->
                                <!--First Upcomming fixture-->
                             <div class="row" style="border-bottom:solid 1px #27AE60; padding-left:25px;">
                                 <div class="col-xs-12" >
                                     <div class="col-xs-2" >
                                         <div class="row" style="background-color:#27AE60; color:white; text-align:center; margin-bottom:2px;">
                                             <!--Date-->
                                             <h3><strong>30</strong></h3>

                                             <!--Month-->
                                             <p><b>NOV</b></p>

                                         </div>
                                         
                                     </div>
                                     <div class="col-xs-10">
                                         <br />
                                         <div class="container">
                                             <div class="row">
                                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                                             </div>
                                             <div class="row">
                                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                                             </div>
                                         </div>


                                     </div>
                                 </div>
                             </div>

                             <!--Second One-->
                             <div class="row" style="border-bottom:solid 1px #27AE60; padding-left:25px;">

                                 <div class="col-xs-12">
                                     <div class="col-xs-2">

                                         <div class="row" style="background-color:#27AE60; color:white; text-align:center; margin-bottom:2px;">
                                             <!--Date-->
                                             <h3><strong>30</strong></h3>

                                             <!--Month-->
                                             <p><b>NOV</b></p>

                                         </div>

                                     </div>
                                     <div class="col-xs-10">
                                         <br />
                                         <div class="container">
                                             <div class="row">
                                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                                             </div>
                                             <div class="row">
                                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                                             </div>
                                         </div>


                                     </div>
                                 </div>
                             </div>
                             <!--First Upcomming fixture-->
                             <div class="row" style="border-bottom:solid 1px #27AE60; padding-left:25px;">
                                 <div class="col-xs-12">
                                     <div class="col-xs-2">
                                         <div class="row" style="background-color:#27AE60; color:white; text-align:center; margin-bottom:2px;">
                                             <!--Date-->
                                             <h3><strong>30</strong></h3>

                                             <!--Month-->
                                             <p><b>NOV</b></p>

                                         </div>

                                     </div>
                                     <div class="col-xs-10">
                                         <br />
                                         <div class="container">
                                             <div class="row">
                                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                                             </div>
                                             <div class="row">
                                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                                             </div>
                                         </div>


                                     </div>
                                 </div>
                             </div>

                             <!--Second One-->
                             <div class="row" style="border-bottom:solid 1px #27AE60; padding-left:25px;">

                                 <div class="col-xs-12">
                                     <div class="col-xs-2">
                                         <div class="row" style="background-color:#27AE60; color:white; text-align:center; margin-bottom:2px;">
                                             <!--Date-->
                                             <h3><strong>30</strong></h3>

                                             <!--Month-->
                                             <p><b>NOV</b></p>

                                         </div>

                                     </div>
                                     <div class="col-xs-10">
                                         <br />
                                         <div class="container">
                                             <div class="row">
                                                 <span style="float:left;"><strong>Home Team</strong></span>&nbsp;&nbsp;<Span class="vs"><strong>VS</strong></Span>&nbsp;&nbsp;<span style="float:right;"><strong>Away Team</strong></span>
                                             </div>
                                             <div class="row">
                                                 <span style="float:left;">Location:<strong>Kyadondo SC</strong></span><span style="float:right;"><strong>1800 hrs</strong></span>

                                             </div>
                                         </div>


                                     </div>
                                 </div>
                             </div>
                         <br />
                         </div>
                         <!--fixture content-->
                         <div id="RESULTS" class="tab-pane fade in active" style="padding-left:15px; margin-left:10px;"> 
                           <!--  <div style="text-align:center; ">
                                 <h4><u><strong>RESULTS</strong></u></h4>
                             </div>
                            -->
                            
                           
                            
                           
                             <!--row of results-->
                             <div class="row">
                                 <div class="col-xs-12" style="border-bottom:solid 1px #27AE60;">
                                     <div class="col-xs-5">
                                         <!--Home Team-->
                                         <h4>Hima Cement Hethens</h4>
                                     </div>
                                     <div class="col-xs-2">
                                         <!--Score-->
                                         <div class="row" style="color:white; background-color:#27AE60; margin-bottom:3px; margin-top:3px;text-align:center;">
                                             <h4><strong><span>18</span>&nbsp;<span>:</span>&nbsp;<span>13</span></strong></h4>

                                         </div>
                                     </div>
                                     <div class="col-xs-5">
                                         <!--Away Team-->
                                         <div class="row" style="text-align:right;">
                                             <h4> Dusupay Warriors</h4>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                             <!--row of results-->
                             <div class="row">
                                 <div class="col-xs-12" style="border-bottom:solid 1px #27AE60;">
                                     <div class="col-xs-5">
                                         <!--Home Team-->
                                         <h4>Hima Cement Heathens</h4>
                                     </div>
                                     <div class="col-xs-2">
                                         <!--Score-->
                                         <div class="row" style="color:white; background-color:#27AE60; margin-bottom:3px; margin-top:3px; text-align:center;">
                                             <h4><strong><span>53</span>&nbsp;<span>:</span>&nbsp;<span>18</span></strong></h4>

                                         </div>
                                     </div>
                                     <div class="col-xs-5">
                                         <!--Away Team-->
                                         <div class="row" style="text-align:right;">
                                             <h4> Rams</h4>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                             <!--row of results-->
                             <div class="row">
                                 <div class="col-xs-12" style="border-bottom:solid 1px #27AE60;">
                                     <div class="col-xs-5">
                                         <!--Home Team-->
                                         <h4>Hima Cement Heathens</h4>
                                     </div>
                                     <div class="col-xs-2">
                                         <!--Score-->
                                         <div class="row" style="color:white; background-color:#27AE60; margin-bottom:3px; margin-top:3px; text-align:center;">
                                             <h4><strong><span>74</span>&nbsp;<span>:</span>&nbsp;<span>03</span></strong></h4>

                                         </div>
                                     </div>
                                     <div class="col-xs-5">
                                         <!--Away Team-->
                                         <div class="row" style="text-align:right;">
                                             <h4> Barbarian Walukuba</h4>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                             <!--row of results-->
                             <div class="row">
                                 <div class="col-xs-12" style="border-bottom:solid 1px #27AE60;">
                                     <div class="col-xs-5">
                                         <!--Home Team-->
                                         <h4>Plascon Mongers</h4>
                                     </div>
                                     <div class="col-xs-2">
                                         <!--Score-->
                                         <div class="row" style="color:white; background-color:#27AE60; margin-bottom:3px; margin-top:3px; text-align:center;">
                                             <h4><strong><span>07</span>&nbsp;<span>:</span>&nbsp;<span>40</span></strong></h4>

                                         </div>
                                     </div>
                                     <div class="col-xs-5">
                                         <!--Away Team-->
                                         <div class="row" style="text-align:right;">
                                             <h4> Hima Cement Heathens</h4>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                             <!--row of results-->
                             <div class="row">
                                 <div class="col-xs-12" style="border-bottom:solid 1px #27AE60;">
                                     <div class="col-xs-5">
                                         <!--Home Team-->
                                         <h4>Shell Rimula Rhinos</h4>
                                     </div>
                                     <div class="col-xs-2">
                                         <!--Score-->
                                         <div class="row" style="color:white; background-color:#27AE60; margin-bottom:3px; margin-top:3px; text-align:center;">
                                             <h4><strong><span>00</span>&nbsp;<span>:</span>&nbsp;<span>24</span></strong></h4>

                                         </div>
                                     </div>
                                     <div class="col-xs-5">
                                         <!--Away Team-->
                                         <div class="row" style="text-align:right;">
                                             <h4>Hima Cement Heathens </h4>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                             <!--row of results-->
                             <div class="row">
                                 <div class="col-xs-12" style="border-bottom:solid 1px #27AE60;">
                                     <div class="col-xs-5">
                                         <!--Home Team-->
                                         <h4>BetWay Kobs</h4>
                                     </div>
                                     <div class="col-xs-2">
                                         <!--Score-->
                                         <div class="row" style="color:white; background-color:#27AE60; margin-bottom:3px; margin-top:3px; text-align:center;">
                                             <h4><strong><span>26</span>&nbsp;<span>:</span>&nbsp;<span>21</span></strong></h4>

                                         </div>
                                     </div>
                                     <div class="col-xs-5">
                                         <!--Away Team-->
                                         <div class="row" style="text-align:right;">
                                             <h4>Hima Cement Heathens</h4>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                             <div class="row" style="text-align:center;">
                                 <button class="btn-default"> <a href="#">View All</a></button>
                               
                             </div>
                             <br />
                         </div>
                         <!--fixture content-->
                         <div id="POINTS" class="tab-pane fade">
                             <br />
                         <div  class="col-xs-12">
                             <div class="row" style="padding-left:5px; margin-left:10px;">
                                 <table class="table-bordered table-condensed">
                                     <thead style="color:white; background-color:#27AE60;">
                                         <tr>
                                            
                                             <th>&nbsp;</th>
                                             <th>Tries</th>
                                             <th>Cons</th>
                                             <th>Pens</th>
                                             <th>Drop G.</th>
                                             
                                             <th>Total </th>

                                         </tr>
                                     </thead>
                                     <tbody>
                                         <!--Row in the Score Table-->
                                         <tr>
                                            
                                             <td><strong>Cox Muhigwa</strong></td>
                                             <td>12</td>
                                             <td>0</td>
                                             <td>0</td>
                                             <td>0</td>
                                            
                                             <td><strong>62</strong> </td>
                                         </tr>
                                         <!--Row in the Score Table-->
                                         <tr>

                                             <td><strong>Chris Lubanga</strong></td>
                                             <td>1</td>
                                             <td>7</td>
                                             <td>0</td>
                                             <td>16</td>

                                             <td><strong>58</strong> </td>
                                         </tr>
                                         <!--Row in the Score Table-->
                                       
                                         <tr>

                                             <td><strong>Micheal Wokorach</strong></td>
                                             <td>11</td>
                                             <td>0</td>
                                             <td>0</td>
                                             <td>0</td>

                                             <td><strong>55</strong> </td>
                                         </tr>
                                         <!--Row in the Score Table-->
                                         <tr>

                                             <td><strong>Charles Uhuru</strong></td>
                                             <td>7</td>
                                             <td>0</td>
                                             <td>0</td>
                                             <td>1</td>

                                             <td><strong>37</strong> </td>
                                         </tr>
                                         <!--Row in the Score Table-->
                                         <tr>

                                             <td><strong>Paul Masendi</strong></td>
                                             <td>7</td>
                                             <td>0</td>
                                             <td>0</td>
                                             <td>0</td>

                                             <td><strong>35</strong> </td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </div>
                             <div class="row" style="text-align:center;">
                                 <button class="btn-primary"><a href="#">View all</a></button>
                             </div>
                             <br />
                         </div>
                         </div>
                         <!--end tab content-->
                     </div>
                 </div>


             </div>
             <!--News Items-->
             <div class="row">
                <div style="text-align:center; color:white; background-color: #27AE60; padding-left:30px; padding-top:5px; margin-left:10px;">
                    <h4><u><strong>NEWS</strong></u></h4>
                    
                </div>
                 <!--MAin Xs newes Item-->
                 <div class="col-xs-12" >
              <div class="row " style="border-bottom:solid 1px #27AE60; padding-left:25px;">
                  <a href="#">
                      <div class="row" style="width:96%">
                          <img src="~/Media/Team/Heathens/News/TeamPageLatestNewsHathens.png" alt="News Image" class="img-responsive" />

                      </div>
                      <div class="row" style="color:black; padding-left:13px;" >
                          <div class="row">
                              <h4>Heathens Win the 2018 – 2019 Nile Special Premier League</h4>
                          </div>
                          <div class="row">
                              <p><span style="color:#27AE60;" class="glyphicon glyphicon-list">&nbsp;</span><span><strong>League</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#27AE60;" class="glyphicon glyphicon-calendar">&nbsp;</span><span>30th Mar 2019</span></p>

                          </div>
                      </div>
                  </a>
              </div>
                        
                         
                 </div>
                 <!--First newslet-->
                 <div class="col-xs-12"  style="border-bottom:solid 1px #27AE60; ">
                  <div class="row">
                      <a href="#">
                          <div class="col-xs-4">
                              <img src="~/Media/Team/Heathens/News/NewXsHeathens1.png" alt="News Image" class="img-responsive" />

                          </div>
                          <div class="col-xs-8">
                             
                                  <h4>Title Still in sight Despite Losing to Kobs 26 : 21 </h4>
                              
                             
                                  <p><span style="color:#27AE60;" class="glyphicon glyphicon-list">&nbsp;</span><span><strong>League</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#27AE60;" class="glyphicon glyphicon-calendar">&nbsp;</span><span>18th Feb 2019</span></p>
                              
                          </div>
                      </a>
                  </div>
                       
                 
                  
                     
                 </div>
                 <!--Second Item-->
                 <div class="col-xs-12"  style="border-bottom:solid 1px #27AE60; ">
                   <div class="row">
                       <a href="#">
                           <div class="col-xs-4">
                               <img src="~/Media/Team/Heathens/News/NewXsHeathens1.png" alt="News Image" class="img-responsive" />

                           </div>
                           <div class="col-xs-8">
                               <h4>Micheal Celebrates 10 years in heathens</h4>
                               <p><span style="color:#27AE60;" class="glyphicon glyphicon-list">&nbsp;</span><span><strong>Profiles</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#27AE60;" class="glyphicon glyphicon-calendar">&nbsp;</span><span>10th Febuary 2019</span></p>

                           </div>
                       </a>
                   </div>
                    
                      
                 </div>
                 
             </div>
         </div>
      </div>
      <div class="col-md-3 col-xs-12">
          <!--Feutured Profile-->
          <div class="row">
              <div class="col-xs-12" style="border-bottom:solid 1px #27AE60; padding-left:25px;">
                 
                      <img src="~/Media/TeamSquad/PlayerProfile.png"class="img-responsive img-thumbnail"  />
                                    <h4><strong>Cox Muigwa</strong></h4>
                      <h5><strong>Flanker</strong></h5>
                      <p><strong> Nick Name:</strong><span>&nbsp;Pillar One / Black Jesus</span></p>
                      <p><strong>Tries:</strong><span>&nbsp;12</span></p>
                      <p><strong>Previous Team: </strong><span>&nbsp;Kobs</span></p>

                      <p>
                          <strong> Hobbies:</strong><span>
                              &nbsp;Rapping, Cracking Jokes
                              Any Other Interesting things: I speak over 12 languages
                          </span>
                      </p>





              </div>
             
          </div>
         <!--Facebook Page Link-->
          <div class="row">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHimaCementHeathens&tabs=timeline&width=min%20180%20to%20max%20350&height=0&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="min 180 to max 350" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
           </div>
      </div>
  </div>
</div>