
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="landing-text">
        <h2>Rugby at Kyadondo Sports Club</h2>
    </div>
    <img src="~/Media/Team/Cover1.png" class="img-responsive"/>
</div>

<div class="row" style="width:99%;">
    <div class="container">
        <div class="row" style="text-align:center;">
        <h4><span class="TeamCategory"><strong>Premiership Division/ Elite-Performance</strong></span>
</h4>   
        </div>
        <div class="col-xs-12 col-md-12">
            

            <div class="col col-xs-12 col-md-4">
                <div class="row" style="width:98%; border-bottom:6px solid; border-color:#0965c1; padding-top:10px; padding-left:10px;">
                   <a href="">
                      
                       <div class="row" style="text-align:center; background-color:#0965c1; color:white;">
                         
                           <img src="~/Media/Team/TeamLinkHeathens.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:95%;" />

 <h4 class="TeamsTeamName"><strong>HIMA CEMENT HEATHENS</strong></h4>
                       </div>
                   </a>
 
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
    -->
                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Athiyo Muhammed N.</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong>Saddam Goefrey O.</Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>1996</strong></span></p>
                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>Hima Cement</strong></a></span></p>
                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>
                   

                </div>
            </div>

            <div class="col col-xs-12 col-md-4">
                <div class="row" style="width:98%; border-bottom:6px solid; border-color:#0965c1; padding-top:10px; padding-left:10px;">
                      <a href="#">
                       <div class="row" style="text-align:center; background-color:#0965c1; color:white;">
                          
                           <img src="~/Media/Team/TeamLinkBuffaloes.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:95%;"/>
                           <h4 class="TeamsTeamName"><strong>TOYOTA BUFFALOES</strong></h4> 
                       </div>
                   </a>

                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
    -->
                    
                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Edgar Lemerigar</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong>Jospeh Ebenu</Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2000</strong></span></p>
                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>Toyota Uganda</strong></a></span></p>

                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col col-xs-12 col-md-4">
                <div class="row" style="width:98%; border-bottom:6px solid; border-color:#0965c1; padding-top:10px; padding-left:10px;">
                    <a href="#">
                      <div class="row" style="text-align:center; background-color:#0965c1; color:white;">
                        
                          <img src="~/Media/Team/TeamLinkThunderbirds.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:95%;" />
                          <h4 class="TeamsTeamName"><strong>THUNDERBIRDS</strong></h4>
                      </div>
                  </a>
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
                    -->  
                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Charles OnenChan</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong>Dorothy Nekesa</Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2001</strong></span></p>
                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>KYADONDO SPORTS CLUB</strong></a></span></p>

                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>


        </div>
    </div>
    

</div>

<div class="TeamParallax">
    <p>Parallax row</p>
</div>


<div class="row" style="width:99%;">
    <div class="container">
        <div class="row" style="text-align:center;">
            <h4>
                <span class="TeamCategory"><strong>Second  Division &amp; Development </strong></span>
            </h4>
        </div>
        <div class="col-xs-12 col-md-12">



            <div class="col col-xs-12 col-md-4">
                <div class="row" style="width:98%; border-bottom:5px solid; border-color:azure; padding-top:10px; padding-left:10px;">
                    <a href="">

                        <div class="row" style="text-align:center; background-color:#0965c1; color:white;">

                            <img src="~/Media/Team/TeamLinkHeathens.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:95%;" />

                            <h4 class="TeamsTeamName"><strong>ENGSOL STALLIONS</strong></h4>
                        </div>
                    </a>
                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>Engineering Solutions</strong></a></span></p>
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
                    -->
                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Charles OnenChan.</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong></Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2002</strong></span></p>
                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>

            <div class="col col-xs-12 col-md-4">
                <div class="row" style="width:98%; border-bottom:5px solid; border-color:azure; padding-top:10px; padding-left:10px;">
                    <a href="">

                        <div class="row" style="text-align:center; background-color:#0965c1; color:white;">

                            <img src="~/Media/Team/TeamLinkHeathens.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:95%;" />

                            <h4 class="TeamsTeamName"><strong>Tigers</strong></h4>
                        </div>
                    </a>

                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>Toyota Uganda</strong></a></span></p>
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
                    -->

                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Edgar Lemerigar</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong>Jospeh Ebenu</Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2000</strong></span></p>
                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col col-xs-12 col-md-4">
                <div class="row" style="width:98%; border-bottom:5px solid; border-color:azure; padding-top:10px;padding-left:10px;">
                    <a href="">

                        <div class="row" style="text-align:center; background-color:#0965c1; color:white;">

                            <img src="~/Media/Team/TeamLinkHeathens.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:95%;" />

                            <h4 class="TeamsTeamName"><strong>EAGLES</strong></h4>
                        </div>
                    </a>
                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>KYADONDO SPORTS CLUB</strong></a></span></p>
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
                      -->
                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Charles OnenChan</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong>Dorothy Nekesa</Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2001</strong></span></p>
                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>


        </div>
        <!--another row-->
        <div class="col-xs-12 col-md-12">


            <div class="col col-xs-12 col-md-6">
                <div class="row" style="width:98%; border-bottom:5px solid; border-color:azure; padding-top:10px; padding-left:10px;">
                    <a href="">
                        <div class="row" style="text-align:center;">
                            <img src="~/Media/HomePage/fans.png" class="img-responsive img-thumbnail" alt="Stallions Team Photo Defualt Page" style="min-width:370px;" />
                            <h4 class="TeamsTeamName"><strong>Toto Rugby</strong></h4><hr />
                        </div>
                    </a>


                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>Engineering Solutions</strong></a></span></p>
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
                -->
                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Charles OnenChan.</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong></Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2002</strong></span></p>
                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>

            <div class="col col-xs-12 col-md-6">
                <div class="row" style="width:98%; border-bottom:5px solid; border-color:azure; padding-top:10px; padding-left:10px;">
                    <a href="#">
                        <div class="row" style="text-align:center;">
                            <img src="~/Media/HomePage/fans.png" class="img-responsive img-thumbnail" alt="Heahens Team Photo Defualt Page" style="min-width:370px;" />
                            <h4 class="TeamsTeamName"><strong>TAG Rugby</strong></h4> <hr />
                        </div>
                    </a>

                    <p>Main Sponsor: <span class="TeamsTeamsponsor"><a href="#" style="color:black;"><strong>Toyota Uganda</strong></a></span></p>
                    <!--<p>Other Sponsors: <span class="TeamsTeamsponsor">|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|<a href="#" style="color:black;">..</a>|</span></p>
                -->

                    <p>Head Coach:<span class="TeamCategoryHeadCoach" style="color:black;"><Strong>Edgar Lemerigar</Strong></span></p>
                    <p>Team Manager:<span class="TeamCategoryTeamManager" style="color:black;"><Strong>Jospeh Ebenu</Strong></span></p>
                    <p>Date Formed:<span class="TeamCategoryDateFormed"><strong>2000</strong></span></p>
                    <div class="row teamsmallnav">
                        <ul class="list-inline">

                            <li> |&nbsp;<a href="#" style="color:black;"><small><b>Profile</b></small></a></li>
                            <li>|&nbsp;<a href="#" style="color:black;"><small><b>Squad</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>History</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Fixtures</b></small></a>&nbsp;|</li>
                            <li> <a href="#" style="color:black;"><small><b>Awards</b></small></a>&nbsp;|</li>
                            <li><a href="#" style="color:black;"><small><b>Gallery</b></small></a>&nbsp;|</li>
                        </ul>
                    </div>


                </div>
            </div>
        


        </div>
    </div>


</div>
