
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--News Category-->
<div class="row">
   
    <div class="col-md-12">
        <div class="row" style="text-align:left;">
            <p>Category</p>
        </div>
        <div class="col-md-5" >

            <!--Latest News Aricle-->
            <div class="row" style="width:99%;">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>
        </div>

        <div class="col-md-4">
            <!--Other News Articles-->
            <div class="row">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>
            <!--Other News Articles-->
            <div class="row">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>

        </div>
        <div class="col-md-3">
            <!--Old News Articles news lets-->
            <div class="row">
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--News Category-->
<div class="row">

    <div class="col-md-12">
        <div class="row" style="text-align:left;">
            <p>Category</p>
        </div>
        <div class="col-md-5">

            <!--Latest News Aricle-->
            <div class="row" style="width:99%;">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>
        </div>

        <div class="col-md-4">
            <!--Other News Articles-->
            <div class="row">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>
            <!--Other News Articles-->
            <div class="row">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>

        </div>
        <div class="col-md-3">
            <!--Old News Articles news lets-->
            <div class="row">
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--News Category-->
<div class="row">

    <div class="col-md-12">
        <div class="row" style="text-align:left;">
            <p>Category</p>
        </div>
        <div class="col-md-5">

            <!--Latest News Aricle-->
            <div class="row" style="width:99%;">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>
        </div>

        <div class="col-md-4">
            <!--Other News Articles-->
            <div class="row">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>
            <!--Other News Articles-->
            <div class="row">
                <img src="" alt="news ITem Latest Image" />
                <h4>News Title</h4>
                <span>Date</span><span>Author</span>
            </div>

        </div>
        <div class="col-md-3">
            <!--Old News Articles news lets-->
            <div class="row">
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News Let row-->
                <div class="row" style="width:99.5%; border-bottom:1px,solid; border-bottom-color:bisque;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <img src="" alt="News Logo" class="img-responsive img-thumbnail" />

                        </div>
                        <div class="col-xs-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <span> News Category</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span> News Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span> New  Titile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

