
@{
    ViewBag.Title = "Heathens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <img src="~/Media/Team/Cover1.png" class="img-responsive" />
</div>
<!--Naaviation-->
<div class="row">
   <div class="col-md-12">
     <div class="container">
         <p>lAUREN IMPISIHSNK</p>
     </div>
    </div>
   
</div>
<!--first Row-->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" >
            <div class="row" style="width:98%">
    <div class="row" style="text-align:center; background-color:#27AE60; color:white; width:98%; ">

        <p><strong>Fowards</strong></p>
    </div>
</div>
           <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                  <a href="#">
                      <div class="PlayerProfileLink" style="width:99%">
                          <div class="row">
                              <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                              <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                  <p><strong><span class="playerNamePP">ABDUL KIYIMBA</span></strong></p>
                                  <p><span>Hooker</span></p>
                              </div>
                          </div>
                      </div>
                  </a>
                             
                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60;color:white; width:98%;">
                                        <p><strong><span>ABEL MUSOKE</span></strong></p>
                                        <p><span>Prop</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                    </div>                   
                </div>
            </div>    
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">ALEX MUBIRU</span></strong></p>
                                        <p><span>Hooker</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>ARTHUR MUKAMA</span></strong></p>
                                        <p><span>Eight-Man</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>    
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">AZIZ KHAN</span></strong></p>
                                        <p><span>Flank</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#0965c1; color:white; width:98%;">
                                        <p><strong><span>CHARLES UHURU</span></strong></p>
                                        <p><span><strong>VICE CAPTAIN</strong>&nbsp;--&nbsp;LOCK</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>    
            <!--Row of two player profile Links-->
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">EAUN PATERSON</span></strong></p>
                                        <p><span>Hooker</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>EGWALU ISAAC</span></strong></p>
                                        <p><span>Lock</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">EMMANUEL BYAMUGISHA</span></strong></p>
                                        <p><span>Prop</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>GIDEON JOWEL KAIHURA</span></strong></p>
                                        <p><span>Prop</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">JEREMIAH KIGOZI</span></strong></p>
                                        <p><span>Flank</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>JOSHUA KENNETH OKECHO</span></strong></p>
                                        <p><span>Prop</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">KATO REYNOLD</span></strong></p>
                                        <p><span>Lock</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>MIKE OTTO</span></strong></p>
                                        <p><span>Lock</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>    
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">MISAGGA BENEDICT CLIVE</span></strong></p>
                                        <p><span>Flank</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>OGWAL ROMANO</span></strong></p>
                                        <p><span>Eight-Man</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">RONALD KANYANYA</span></strong></p>
                                        <p><span>Hooker</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>SANTOS SENTEZA</span></strong></p>
                                        <p><span>Prop</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">SIMON OLET</span></strong></p>
                                        <p><span>Lock</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span>TINASHE PETER</span></strong></p>
                                        <p><span>Eight-Man</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
           
        
               

        </div>

        <div class="col-md-6">
            <div class="row" style="width:98%">
                <div class="row" style="text-align:center; background-color:#27AE60; color:white; width:98%; ">

                    <p><strong>Backs</strong></p>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">ABDUL SALAAM ONENGA</span></strong></p>
                                        <p><span>Wing</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="heathensTeamSquad" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">BISHOP ONEN JOHNATHAN</span></strong></p>
                                        <p><span>Wing</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">CHRIS LUBANGA</span></strong></p>
                                        <p><span>Fly-Half</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">EPILO PAUL EMMANUEL</span></strong></p>
                                        <p><span>Utility Back</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">ESTERHUIZEN LEHAHN</span></strong></p>
                                        <p><span>Center</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">GAMMA FAISAL</span></strong></p>
                                        <p><span>Scrum-Half</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">GERALD SEWANKAMBO</span></strong></p>
                                        <p><span>Center</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">IVAN CLAUDE OTEMA</span></strong></p>
                                        <p><span>Center</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">JORDAN BOGOMIN</span></strong></p>
                                        <p><span>Wing</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">KATO NICHOLAS</span></strong></p>
                                        <p><span>Scrum-Half</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">KEVIN KERIMUNDU</span></strong></p>
                                        <p><span>Utility Back</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">LAWRENCE SEBULIBA KAYIWA</span></strong></p>
                                        <p><span>Wing</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#0965c1; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">MICHEAL OKORACH </span></strong></p>
                                        <p><span><strong>(CAPTAIN)-</strong>&nbsp;Center</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">OCHAN TREVOR</span></strong></p>
                                        <p><span>Full Back</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">PAUL MASENDI</span></strong></p>
                                        <p><span>Center</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">ROBERT MASENDI </span></strong></p>
                                        <p><span>Fly-Half</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <!--Row of two player profile Links-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6 ">
                        <a href="#">
                            <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">SIMON OKWERA</span></strong></p>
                                        <p><span>Full Back</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 ">
                        <a href="#">
                          <!--
                           <div class="PlayerProfileLink" style="width:99%">
                                <div class="row">
                                    <img src="~/Media/TeamSquad/PlayerProfile.png" class="img-responsive img-thumbnail" style="width:98%;" />
                                    <div class="" style="text-align:center; background-color:#27AE60; color:white; width:98%;">
                                        <p><strong><span class="playerNamePP">Player Name</span></strong></p>
                                        <p><span>Position</span></p>
                                    </div>
                                </div>
                            </div>    
                          --> 
                        </a>

                    </div>
                </div>
            </div>
            


        </div>

    </div>

</div>

